.vbox{
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}


.vbox2{
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-pref-width: 100px;
}

.hbox{
    -fx-alignment: center;
    -fx-spacing: 15px;

}
.hbox2{
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-padding: 4px;
}

.radioButtonsBox{
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.button{
    -fx-background-radius: 20px;

}

.refreshButton{
    -fx-background-color: transparent;
}

.sizeButton{
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.label{
    -fx-font-size: 20px;
    -fx-font-family: "Andale Mono",sans-serif ;
}

.text-field{
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}



.slider{
    -fx-max-width: 300px;
    -fx-cursor: hand;
    -fx-transition: all 0.5s ease-in-out;
    -fx-fill: grey;


}
.slider .track {
    -fx-background-color: linear-gradient(to right, black, deepskyblue);
    -fx-background-radius: 10;
    -fx-pref-height: 6px;
}

.slider .thumb {
    -fx-background-color: #2196F3;
    -fx-border-color: #2196F3;
    -fx-border-radius: 100%;
    -fx-background-radius: 50%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}



.slider .thumb:pressed {
    -fx-background-color: white;
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
}

#title{
    -fx-font-weight: bold;
}
#howStrong{
    -fx-font-size: 10px;
    -fx-border-color: grey;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 4px;
    -fx-font-weight: bold;
}







